<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="icon" href="{{ asset('img/favicon.png') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

    <body>

    {% include 'parties/_header.html.twig' %}

    {% block body %}
    {% endblock %}

    {% include 'parties/_footer.html.twig' %}

    </body>



</html>
